
html,body{
    background-color: white;
}

footer{
    width: auto;
    background-color: #203854;
    height: 250px;
}

/*nav-bar section */

.navbar-brand{
    padding-left: 50px;
    padding-right: 120px;
}

.nav-item1{
    padding-right: 40px;
    color: white;
    font-family: 'Quattrocento', serif;
    font-weight: 400;
}

.nav-item2{
    padding-right: 40px;
    color: white;
    font-family: 'Quattrocento', serif;
    font-weight: 400;
}

.nav-item3{
    padding-right: 40px;
    color: white;
    font-family: 'Quattrocento', serif;
    font-weight: 400;
}

.nav-item4{
    padding-right: 40px;
    color: white;
    font-family: 'Quattrocento', serif;
    font-weight: 400;
}

.search-bar{
    margin-left: 200px;
}

.nav-link.active{
    border-bottom: 2px solid white;
    color: white;
}

.navbar{
    background-color: #203854;
    height: 80px;
    width: 100%;
    color: white;
}

.nav-link{
    color: white;
}

/*First image carousel */

.col-box6{
    background-image: url(../assets/Cover\ page\ 1.jpg);
    background-position: center;
    background-size: cover;
    height: 750px;
}

.col-box9{
    height: 300px;
    width: 50%;
    padding-top: 30px;
    margin-left: 40px;
    padding-left: 100px;
    padding-top: 70px;
    font-family: 'Quattrocento', serif;
    font-weight: 700;
}

/*Second image carousel */

.col-box7{
    background-image: url(../assets/Carousel\ 2.png);
    background-position: center;
    background-size: cover;
    height: 750px;
}

.col-box10{
    height: 300px;
    width: auto;
    padding-top: 30px;
    margin-left: 40px;
    padding-left: 100px;
    padding-top: 70px;
    font-family: 'Quattrocento', serif;
    font-weight: 700;
    color: white;
}

/* Third image Carousel */

.col-box8{
    background-image: url(../assets/Cover\ page\ 3.jpeg);
    background-position: center;
    background-size: cover;
    height: 750px;
}

.col-box11{
    height: 300px;
    width: 50%;
    padding-top: 30px;
    margin-left: 40px;
    padding-left: 100px;
    padding-top: 70px;
    font-family: 'Quattrocento', serif;
    font-weight: 700;
    color: white;
}


/*API weather box */

.col-box1{
    height: 400px;
    width: 400px;
    align-items: left;
    background-color: grey;
    margin-top: 30px;
    margin-left: 100px;
    
}

.big-box{
    height: 1000px;
    color: #ECE6DE;
}

/* ACCORDION */

.accordion.accordion-flush{
    margin-top: 40px;
    margin-bottom: 40px;
}

.accordion-body{
    margin-left: 50px;
    margin-right: 50px;
    background-color:#86BEC2;
    margin-top: 20px;
}

/* Restaurant deck image */

.col-box5{
    width: auto;
    height: 600px;
    background-image: url(../assets/On\ deck\ restauants\ 2.jpeg);
    background-position: center;
    background-size: cover;
    margin-top: 20px;
}

.overlay{
    width:100%;
    height:600px;
    background-color: rgba(0, 0, 0, 0.4);
    padding-left:10%;
    padding-top:100px;
}

/* Footer logo */

.col-box12{
    margin-top: 40px;
    margin-left: 80px;
    color: white;
}

.col-box5{
    color: white;
}

