

html,body{
    background-color: #ECE6DE;
}

footer{
    width: auto;
    background-color: #203854;
    height: 300px;
}

/* NavBar */

/* logo */

.navbar-brand{
    padding-left: 50px;
    padding-right: 120px;
}

.navbar{
    height: 110px;
}

.nav-item1{
    padding-right: 40px;
    color: white;
}

.nav-item2{
    padding-right: 40px;
    color: white;
}

.nav-item3{
    padding-right: 40px;
    color: white;
}

.nav-item4{
    padding-right: 40px;
    color: white;
}

.search-bar{
    margin-left: 200px;
}

.nav-link.active{
    border-bottom: 2px solid white;
    color: white;
}

.navbar{
    background-color: #203854;
    height: 70px;
    width: 100%;
    color: white;
}

.nav-link{
    color: white;
}

/*Box just beneath it */

.col-box2{
    width: auto;
    height: 100px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: lightgray;
}

/* Filter and sort blocks */

.green{
    margin-left: 50px;
    margin-top: 30px;
}

.grey{
    margin-top: 60px;
    width: 400px;
    margin-left: -1500px;
}


/* Card layout row 1 */
.col-box3{
    margin-left: 200px;
    margin-bottom: 20px;
}
.col-box4{
    margin-left: 10px;
    margin-bottom: 20px;
}

/* Card layout row 2 */
.col-box5{
    margin-left: 200px;
    margin-bottom: 20px;
}
.col-box6{
    margin-left: 10px;
    margin-bottom: 20px;
}

/* Card layout row 3 */
.col-box7{
    margin-left: 200px;
    margin-bottom: 20px;
}
.col-box8{
    margin-left: 10px;
    margin-bottom: 20px;
}

/* Box created for the horizontal line */
.col-box9{
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: 2px solid;
    color: black;
    margin-bottom: 30px;

}

/* Card text */
/* Card 3 */

.col-box-i{
    font-family: 'Quattrocento', serif;
    font-weight: 700;
    text-align: center;
    padding-top: 10px;
}

.col-box-ii{
    font-family: 'Quattrocento', serif;
    font-weight: 400;
    text-align: center;

}

.col-box-iii{
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 400;
    text-align: center;

}


/* Text above */

.col-box10{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Quattrocento', serif;
    font-weight: 700;

}

.col-box11{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Quattrocento Sans', sans-serif;
    font-style: italic;
    
}

/* Sign up boxes */

.col-box-a{
    margin-left: 30px;
    width: 270px;
}

.col-box-b{
    margin-left: -50px;
    width: 270px;
}

.col-box-c{
    margin-left: -120px;
    width: 270px;
}

.dropdown{
    margin-left: -190px;
    width: 400px;
   
}

/* Submit button */ 

.btn.btn-outline-secondary{
    margin-left: 1130px;
    margin-top: -63px;
}

.btn.btn-primary{
    width: 150px;
    height: 40px;
    border-radius: 5px;
}
