html,body{
    background-color: #ECE6DE;
}

/* Navbar */

.navbar-brand{
    padding-left: 50px;
    padding-right: 120px;
}

.navbar{
    height: 110px;
}

.nav-item1{
    padding-right: 40px;
    color: white;
}

.nav-item2{
    padding-right: 40px;
    color: white;
}

.nav-item3{
    padding-right: 40px;
    color: white;
}

.nav-item4{
    padding-right: 40px;
    color: white;
}

.search-bar{
    margin-left: 200px;
}

.nav-link.active{
    border-bottom: 2px solid white;
    color: white;
}

.navbar{
    background-color: #203854;
    height: 70px;
    width: 100%;
    color: white;
}

.nav-link{
    color: white;
}

/* Footer */

.col-box12{
    margin-top: 40px;
    margin-left: 80px;
    color: white;
}

